if SHIELD_DUBU36E_LEFT

config ZMK_KEYBOARD_NAME
    default "Dubu36ergo"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_DUBU36E_LEFT || SHIELD_DUBU36E_RIGHT

config ZMK_SPLIT
    default y

endif

if SHIELD_DUBU36E_DONGLE

config ZMK_KEYBOARD_NAME
    default "Dubu36ergo"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT
    default y

config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 2

config BT_MAX_CONN
    default 7

config BT_MAX_PAIRED
    default 7

endif
